# Compiled binary files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

# Binary files created by go build
*.a
*.o
*.test

# Dependency directories
vendor/

# Go module cache
go.sum

# IDE and editor directories
.idea/
.vscode/
*.swp

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
